.DOB-section div{
    display: inline-block;
}
.dob{
    width: 300px;
}

.telephone{
    width: 2em;
}
.telephone-section div{    
    display: inline-block;
}
strong{
    color: red;
}
fieldset{
    display: inline-block;
}
fieldset div{
    display: inline-block;
}