body{
    background-color:darkslategrey;
    color: antiquewhite;
}
:root{
    --leftUrl:url();
    --rightUrl:url();
    --correct:rgb(4, 255, 4);
    --incorrect:red;
}
button:hover{
    cursor: pointer;
}
.vidCat{
    margin-top: 5px;
    margin-bottom: 5px;
    color:white;
    background-color: black;
    border-radius: 20px;
}
.active,
.vidCat:hover{
    background-color: grey;
}
#startButton{
    margin-top: 5px;
    margin-bottom: 5px;  
}
.gameArea{
    position: relative;
    display: grid;
    /* grid of 2 with same width*/
    grid-template-columns: repeat(2,1fr);
    height: 80vh;
    
}
#vs{
    z-index: 10;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    background-color:unset;
    position: absolute;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.leftHalf,
.rightHalf{
    border: 2px solid black;
    width: 100%;
    
}
.a1{
    animation: slide-left 2000ms;
}
.a2{
    animation: fade-in 900ms;
}
.half{
    text-align: center;
}
.choices button{
    width: 100px;
    height: 40px;
    font-size: 1em ;
    border-radius: 20px;
    font: bold;
    
}
.choices button:hover{
    cursor:pointer;
}
#higher{
    background-color: green;
}
#lower{
    background-color:orange;
}
.vidTitle{
    font-size: 2em;
}
.author{
    font-style: italic;
}
.views{
    font-size: 2em;
}
.answer{
    display: none;
}

/* Game over screen*/
.endScreen{
    display: none;
    text-align: center;
    position: absolute;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width : 1300px) {
    .leftHalf img,
    .rightHalf img{
        width: 480px;
        height: 360px;
    }
}
@media screen and (max-width : 1000px) {
    .leftHalf img,
    .rightHalf img{
        width: 320px;
        height: 180px;
    }
}
/* for mobiles*/
@media screen and (max-width : 700px) {
    .gameArea{
        grid-template-columns: auto;
        height:90vh;
    }
    .leftHalf,
    .rightHalf{
        font-size: larger;
        color: black;
        height: 45vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(255,255,255,.4);
        background-blend-mode: lighten;
        
    }
    
    .leftHalf img,
    .rightHalf img{
        display: none;
    }
    
    .leftHalf{
        background-image: var(--leftUrl);
    }
    .rightHalf{
        background-image: var(--rightUrl);
    }    
    .a1{
        animation: slide-up 2000ms
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-up {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}