.webGamePage {
    position: absolute;
    height: 80%;
    /* width: 100vw; */
    /* top: 20rem; */
    overflow-y: auto;
    overflow-x: hidden;
    /* bottom: 0rem; */
    left: 0rem;
    right: 0rem;
}