  .cuber,
  .bombBlitz {
    max-width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    
  }

  .cuber {
    background-image: url("../images/CuberLogo.png");
  }

  .bombBlitz {
    background-image: url("../images/bombLogo.png");
    color: red;
  }

  .cuber video,
  .bombBlitz video{
    width: 80%;
    height: auto;
  }
  .comparison{
    display: flex;
    align-items: stretch;
    flex:50%;
    max-width: 50%;
    width: 100%;
  }

  .comparison img{
    min-width: 300px;
    
  }  

  .sprites figure
  {
    color: blueviolet;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(51, 224, 230);
    display: inline-block;
  }
  .sprites img{
    width: auto;
  }
  @media only screen and (max-width:1400px){
    .comparison{
      flex-direction: column;
      max-width: 100%;
    }
  }


