.gamesGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 10px dotted black;
    column-gap: 25px;
    row-gap: 50px  ;
    padding: 50px 10% 50px 10%;
}

.gamesGrid button{
    font-size: large;
    background-color: burlywood;
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}
.gamesGrid button:hover{
    cursor:pointer;
    scale:  1.1;
}
.link{
    margin-left: 50px;
    border: 2px solid black;
    display: inline-block;
}
.link:hover{
    scale:1.1;
}
.link a{
    color: black;
    font-size: 50px;
    
}
.link a:link { text-decoration: none; }
.link a:visited { text-decoration: none; }
.link a:hover { text-decoration: none; }
.link a:active { text-decoration: none; }