.gamesGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 10px dotted black;
    column-gap: 25px;
    row-gap: 50px  ;
    padding: 50px 10% 50px 10%;
}

.gamesGrid button{
    position: relative;
    background-color: burlywood;
    background-size:contain;
    background-repeat: no-repeat;
    border: 5px solid black;
    border-radius: 20px;
    padding: 0px;
    width: 250px;
    height: 250px;
    font-size: 2em;
}
.title{
    position: absolute;
    top:-50px;
    width: 100%;
    color: rgb(240, 139, 8);
}
.gamesGrid button:hover{
    cursor:pointer;
    scale:  1.1;
}
.link{
    margin-left: 50px;
    display: inline-block;
}
.link:hover{
    scale:1.1;
}
.link a{
    color: black;
    font-size: 50px;
    
}
.link a:link { text-decoration: none; }
.link a:visited { text-decoration: none; }
.link a:hover { text-decoration: none; }
.link a:active { text-decoration: none; }

@media only screen and (max-width:800px) {
    .gamesGrid{
        grid-template-columns: auto auto;
        justify-content: center;
    }
}
@media only screen and (max-width:600px) {
    .gamesGrid{
        grid-template-columns: auto;
        column-gap: 0px;
        justify-content: center;
    }
}

/* GAMES */
#WheresOne{
    background-image: url("/images/WheresOneIcon.jpg");
}
#AbsurdApp{
    background-image: url("/images/UnderConstruction.jpg");    
}
